@import url("https://fonts.googleapis.com/css2?family=Roboto");

.hero {
  font-size: 18px;
  color: #e5e7eb;
  background-color: #1f2937;
}

/* Nav */

nav {
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin: 0 17.5%;
}

.logo {
  color: #f9faf8;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

/* ul {
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
}

li > a {
  color: #f9faf8;
  text-decoration: none;
} */

/* Awesome */

.awesome {
  display: flex;
  padding: 96px 0;
  margin: 0 17.5%;
  gap: 32px;
}

.awesome > * {
  flex: 1 1 30%;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

/* Image placeholder */
.awesome div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #666;
}

.awe-button {
  color: #f9faf8;
  background-color: #3882f6;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 8px;
}

/* Second */

.second {
  margin: 0 20%;
  padding: 64px;
  padding-bottom: 128px;
}

.second h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding-bottom: 32px;
}

.container {
  display: flex;
  gap: 32px;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.sec-image {
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.img-container p:nth-child(2) {
  text-align: center;
}

/* Third */

.third {
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 30%;
  padding-top: 96px;
  padding-bottom: 62px;
}

.quote blockquote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  align-self: flex-end;
}

.quote p {
  align-self: flex-end;
  font-weight: 900;
  font-size: 20px;
}

/* Fourth */

.fourth {
  margin: 0 17.5%;
  padding: 64px 0;
}

.action {
  display: flex;
  justify-content: space-evenly;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 32px 64px;
  border-radius: 8px;
}

.action button {
  border: 2px solid #f9faf8;
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8;
  align-self: flex-end;
  padding: 6px 32px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  background-color: #1f2937;
  color: #f9faf8;
}

/* General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Roboto;
  /* line-height: 1; */
}
