@import url("https://fonts.googleapis.com/css2?family=Roboto");

.hero {
  font-size: 18px;
  color: #e5e7eb;
}

nav {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.logo {
  color: #f9faf8;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
}

li > a {
  color: #f9faf8;
  text-decoration: none;
}

/* General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Roboto;
  /* line-height: 1; */
}
